*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Idea
.idea/
out/
*.ipr
*.iws
*.iml

# Eclpise Files
.classpath
.project
.settings/

# Target Files
*/target/*
**/classes

# MyBatis Files
.springBeans

#Jrebel Files
rebel.xml
.rebel.xml.bak

*/.gitignore

tempfiles_external_asset/*

*/.factorypath
*/.apt_generated
/target/

*.bpmn/

*.versionsBackup

**/*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/